body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #121254;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h1 {
    margin: 0;
    text-align: center;
}

.header-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1em;
    height: 30px;
}

#barraBusqueda {
    text-align: center;
    flex-grow: 1;
    display: none;
    justify-content: center;
}

#buscarProducto {
    width: 250px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

nav {
    flex-shrink: 0;
    text-align: right;
    margin-left: auto;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    max-width: 150px;
}

button:hover {
    background-color: #0056b3;
}

main {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

#producto-carrito {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.producto {
    border: 1px solid #ccc;
    padding: 1em;
    background: white;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 20px;
    width: 500px;
    max-width: 1000px;
}

.producto img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    object-position: bottom;
    border-radius: 5px;
    min-width: 100px;
}

.producto .producto-imagen {
    flex: 1;
    margin-right: 50px;
}

.producto .producto-detalles {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 10px;
}

.producto .descripcion h3 {
    margin: 0;
    font-size: 1.2em;
}

.producto .descripcion p {
    margin: 5px 0;
    font-size: 1em;
}

.producto button {
    margin-top: auto;
    width: 150px;
}

.producto input[type="number"] {
    max-width: 150px;
}

.producto-acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 150px;
}

.producto-acciones button {
    background-color: white;
    color: black;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.producto-acciones button:hover {
    background-color: #f0f0f0;
}

.producto-acciones .cantidad-btn {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
}

.producto-acciones .agregar-btn {
    width: 150px;
    background-color: #007bff;
    color: white;
    border: 1px solid grey;
}

.producto-acciones .eliminar-btn {
    width: 150px;
    background-color: #ff0000;
    color: white;
    border: 1px solid grey;
}

.producto-acciones .eliminar-btn:hover {
    background-color: #cc0000;
}

.producto-acciones span {
    margin: 0 10px;
    font-size: 1.2em;
    width: 30px;
}

.producto-nombre {
    text-align: left;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #121254;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
}

.hidden {
    display: none !important;
}

.carrito-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    overflow-y: auto;
    height: 70vh;
}

#total-carrito {
    font-size: 1.5em;
    font-weight: bold;
    color: #121254;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #121254;
}

#total-carrito p {
    font-size: 1.2em;
}

.carrito-contenido::-webkit-scrollbar {
    width: 12px;
}

.carrito-contenido::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}

.carrito-contenido::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.carrito-contenido::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.carrito-contenido h2 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}

.ver-carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    border: 1px solid grey;
    color: white;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.ver-carrito:hover {
    background-color: #0056b3;
}

.ver-carrito .fa {
    font-size: 18px;
}

.menu-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: #121254;
    padding: 10px;
    border-radius: 4px;
}

#dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, visibility 0s linear 0.3s, transform 0.3s ease;
    width: 200px;
    z-index: 1000;
}

#dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, visibility 0s linear 0s, transform 0.3s ease;
}

#dropdown-menu a {
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    color: #333;
    display: block;
}

#dropdown-menu a:hover {
    background-color: #f0f0f0;
}

#dropdown-menu a.selected {
    background-color: #f0f0f0;
    color: #121254;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.submenu li {
    margin: 5px 0;
}

.submenu li a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    text-align: left;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submenu li a:hover {
    background-color: #f0f0f0;
    color: #121254;
}

.submenu li a.selected {
    background-color: #f0f0f0;
    color: #121254;
}

.carrito-header {
    background-color: #121254;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

#vaciarCarritoContainer {
    text-align: right;
    margin: 10px;
}

#filtroPrecioContainer {
    text-align: center;
    margin: 20px 0;
}


